// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  width: 100%;
  padding-top: 3em;
  text-align: center;
  font-family: Helvetica;
  color: rgba(0,0,0,.6);
}
p {
  margin: 0px;
}
h6 {
  color: rgba(0,0,0,.4);
  margin: 5px auto 72px;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: rgba(0,0,0,.2);
  padding: 1em;
  background-color: rgba(0,0,0,.1);
  border-radius: 5px;
}
a:hover {
  color: rgba(0,0,0,.5);
  background-color: rgba(0,0,0,.4);
}

input {
  text-align: center;
}
